.product-page {
  padding: 3rem;
  display: flex;
}

.search {
  display: flex;
  margin-top: 0.5rem;
}
.search-bar {
  width: 50%;
  padding: 0.5rem;
  margin: 0 auto;
  align-self: center;
  border: 1px solid var(--mygrey);
  outline-color: #8f9c9a;
  font-size: 0.9rem;
}
.product-container {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: left;
  padding: 0.5rem 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loader-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
