.cart-page {
  padding: 3rem;
}
.cart-subtotal {
  display: flex;
  justify-content: flex-end;
}
.cart-items-container {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.cart-item {
  display: flex;
  flex-direction: row;
  max-width: 27rem;
}
.cart-item button {
  padding: 0.7rem;
  margin: 1rem;
  font-size: x-small;
}

.no-shadow {
  box-shadow: none;
}
.quantity {
  margin: 0.5rem;
}
