.navbar {
  padding: 0.4rem;
  background-color: #2bc48a;
  margin-bottom: 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
}
.nav-item {
  font-size: small;
  margin: 0.2rem;
  padding: 0;
}
.active {
  font-weight: bold;
  background-color: var(--primary-bg);
}
.nav-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.user {
  width: 2rem;
  height: 2rem;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .brand-img {
    height: 1.5rem;
    width: 1.5rem;
  }
  .user {
    width: 1.5rem;
    height: 1.5rem;
  }
  .navbar {
    padding: 0.1rem;
    align-items: baseline;
  }
  .nav-item {
    min-width: 0.3rems;
  }
}
