@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
}
.card {
  margin: 0.5rem;
}
.empty-msg {
  text-align: center;
  font-size: xx-large;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-msg button:hover {
  color: #fff;
  background-color: var(--myColor);
}
.wishlist-page {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.toast {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
@media screen and (max-width: 767px) {
  .product-page {
    flex-direction: column;
  }
  .filters {
    margin: 0 auto;
    min-width: 80%;
  }
  .cart {
    padding: 1rem;
  }
  .wishlist {
    padding: 1rem;
  }
  .menu-bar {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
  }
  .navbar .fa {
    font-size: small;
  }
  .cart-item {
    flex-direction: column;
  }
  .details-card {
    flex-direction: column;
  }
  .navbar .nav-item {
    margin: 0;
    padding: 0.1rem;
  }
  .navbar a {
    font-size: small;
    padding: 0.2rem;
  }
  .btn {
    margin: 0.3rem;
  }
  .cart-subtotal {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .cart-items-container {
    padding: 0;
  }
}
